@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --text-color: #fff;
  --background-color: #000000;
  --background-header: #232323;
  --color-secondary: #c90a02;
  --color-text-secondary: #ccc;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

/* Header */
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--background-header);
  height: 56px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.links {
  color: var(--color-text);
  text-decoration: none;
  padding: 20px;
}

.links:hover {
  color: var(--color-secondary);
}

/* Main */
.container-principal {
  display: flex;
  justify-content: space-evenly;
  margin-top: 120px;
}

.container-music {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.titulo-musica {
  color: var(--color-secondary);
  /* text-align: center; */
}

.texto-musica {
  color: var(--color-text-secondary);
  margin-top: 10px;
}

.button-container {
  margin-top: 10px;
}

.btn-music {
  background-color: var(--color-secondary);
  color: var(--text-color);
  width: 150px;
  height: 40px;
  font-size: 1rem;
  border-radius: 30px;
  border: 1px solid var(--text-color);
}

.btn-music:hover {
  background-color: var(--background-header);
}

.icons-music {
  background-color: var(--background-header);
  border-radius: 20px;
  margin-top: 30px;
}

.icons {
  width: 20px;
  margin-top: 20px;
  padding: 20px;
  color: var(--color-secondary);
}

.img-phone {
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

/* Container Playlist */
.container-2 {
  margin-top: 120px;
  
}

.titulo-playlist {
  text-align: center;
  color: var(--color-secondary);
  font-size: 1.6rem;
}

.container-card-playlist {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
}

.music {
  text-align: center;
  margin-top: 5px;
}

.card-playlist {
  width: 300px;
  height: 300px;
  background-color: var(--background-header);
  border-radius: 5px;
  margin-top: 40px;
  margin-left: 30px;

}

.img-music {
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-playlist {
  width: 120px;
  height: 30px;
  background-color: var(--color-secondary);
  color: var(--text-color);
  border: 1px solid var(--text-color);
  border-radius: 15px;
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 80px;
}

.btn-playlist:hover {
  background-color: var(--background-header);
  transition: .4s;
}

